.circle {
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.lime {
	width: 500px;
	height: 500px;
	background-color: lime;
}

.blue {
	width: 400px;
	height: 400px;
	background-color: blue;
}

.gold {
	width: 250px;
	height: 250px;
	background-color: gold;
}

.purple {
	width: 100px;
	height: 100px;
	background-color: purple;
}
